.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
  
.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}
.form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(92, 8, 8, 0.25);
}
  
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
  
.text-small {
    font-size: 85%;
}
  
.dropdown-toggle {
    outline: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background: #f7f9fd;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    image-orientation:relative ;
    
}
.html {
    height: -webkit-fill-available;
}
body{
    padding: 30px;
    
}
h1{
    font-family:'Brush Script Std', cursive;
    color: #0c0c0e;
    font-size: 56px;
    position: absolute;
    left: 500px;
    width:500px ;

}
img{
    width: 100px;
    position: absolute;
    left: 70px;

}

